/*---navbar color--*/
/*
.bg-green {
  background: none !important;
  }
  
  .navbar-nav{
    padding-left: 380px;
  }
  
  .nav-item {
    margin-right: 20px;
      }
    /* Adjust the value as needed */

/*
  header {
    background: #33b95d;
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    top: 60px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
*/